@model UniversityMnagementSystemMVC.Models.Student

@{
    ViewBag.Title = "RegistrationNumberView";
}

<h2>your registration no. is @Model.RegNo</h2>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>
